<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" fcnMode="Single" />
      <siteMap defaultProvider="Company1SiteMap">
        <providers>
          <add name="Company1SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        </providers>
      </siteMap>
    <httpModules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules></system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AttachmentFolder_OurProducts" value="C:\GIT\Tudonastorev2\tudona\VITLABadminServer\file_content\OurProducts\" />
  </appSettings>
 
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </modules>
  </system.webServer></configuration>
