<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <siteMap defaultProvider="Company1SiteMap">
        <providers>
          <add
            name="Company1SiteMap"        type="System.Web.XmlSiteMapProvider"        siteMapFile="Web.sitemap" />
        </providers>
      </siteMap>
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 
</configuration>
