body{
	font-family: Verdana;
    font-size: 8px;
}
li{
	list-style: none;
}cp
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
}

