<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CSVDelimiter" value=";" />
    <add key="CSVEndOfLine" value="\r\n" />
    <!--<add key="CSVCulture" value="pt-br" />-->
    <!--<add key="CSVCulture" value="pt-br" />-->
    <add key="CSVCulture" value="en-us" />
    <add key="CSVPathTemplate" value="C:\NET_PROJ\SROCSVTOXLS\ConsoleApplication6\Templates\" />
    <add key="CSVFilesPath" value="C:\Temp\geracaoarquivos\csv\" />
    <add key="CSVProccessPath" value="C:\Temp\geracaoarquivos\convertedOK\" />
    <add key="EXCELPath" value="C:\Temp\geracaoarquivos\result\" />
    <add key="LogLocation" value="C:\temp\geracaoarquivos\sroxlsconvert_log.log" />
    <add key="XmlDef" value="C:\NET_PROJ\SROCSVTOXLS\ConsoleApplication6\definicaocampos.xml" />
    <add key="EXCELLoadStartPosition" value="A2" />
    <add key="flgFirstRowIsHeader" value="true" />
    <add key="flgMoveFilesEnd" value="true" />
    <add key="ExcelEnconding" value="1252" /> <!-- Se vazio vai usar utf-8-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>